<div class="login-wrapper">
  <div class="login-banner">
    <h1>ConectaUNI</h1>
    <p>A sua plataforma universitária</p>
    <button class="btn-outline" (click)="isRegistering = !isRegistering">
      {{ isRegistering ? 'Já tenho conta' : 'Criar conta' }}
    </button>
  </div>
  
  <div class="login-form-container">
    <form (ngSubmit)="submit()" class="login-form">
      <h2 style="color: var(--primary-blue); text-align: center; margin-bottom: 20px;">
        {{ isRegistering ? 'Criar Conta' : 'Login' }}
      </h2>
      
      <input *ngIf="isRegistering" [(ngModel)]="fullName" name="name" placeholder="Nome Completo" required>
      <input [(ngModel)]="email" name="email" placeholder="E-mail" type="email" required>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Senha" required>
      
      <select *ngIf="isRegistering" [(ngModel)]="role" name="role">
        <option value="PARTICIPANTE">Participante</option>
        <option value="ORGANIZADOR">Organizador</option>
      </select>

      <button type="submit" class="btn-primary">
        {{ isRegistering ? 'Cadastrar' : 'Entrar' }}
      </button>
    </form>
  </div>
</div>