<div class="layout-container">
  <aside class="sidebar">
    <div class="logo">
      <h2>ConectaUNI</h2>
    </div>
    
    <nav class="menu">
      <div routerLink="/dashboard" 
           routerLinkActive="active" 
           class="menu-item">
         Meus Eventos
      </div>
      
      <div routerLink="/create-event" 
           routerLinkActive="active" 
           class="menu-item">
         Criar Novo
      </div>

      <div class="menu-item disabled">
         Convites (Em breve)
      </div>
    </nav>

    <div class="footer">
      <button (click)="logout()" class="logout-btn">
        Sair da conta
      </button>
    </div>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>