<div class="layout-container">
  <aside class="sidebar">
    <div class="logo">
      <h2>ConectaUNI</h2>
    </div>
    
    <nav class="menu">
      <div routerLink="/dashboard" 
           routerLinkActive="active" 
           class="menu-item">
         🏠 Meus Eventos
      </div>
      
      <div *ngIf="isOrganizer"
           routerLink="/create-event" 
           routerLinkActive="active" 
           class="menu-item">
         ➕ Criar Novo
      </div>

      <div *ngIf="isOrganizer"
           routerLink="/send-invite" 
           routerLinkActive="active" 
           class="menu-item">
         📤 Enviar Convite
      </div>

      <div routerLink="/my-invites" 
           routerLinkActive="active"
           class="menu-item">
         🎟️ Meus Ingressos
      </div>
    </nav>

    <div class="footer">
      <button (click)="logout()" class="logout-btn">
        🚪 Sair da conta
      </button>
    </div>
  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>